#page-map {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100% );
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
}

#page-map .create-orphanage {
    position: absolute;
    right: 40px;;
    bottom: 40px;

    width: 64px;
    height: 64px;
    background: #15C3D6;
    border-radius: 20px;

    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;

    z-index: 3;
}

#page-map .create-orphanage:hover {
    background: #17D6EB;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
    color: #0089A5;
    font-size: 20px;
    font-weight: bold;
    margin: 6px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #15C3D6;
    box-shadow: 17px 27px 41px rgba(23, 142, 166, .16);

    border-radius: 12px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
    display: none;
}