* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    color: #FFF;
    background: #EBF2F5;
    width: 100vw;
    height: 100vh;
}

body,
input,
button,
textarea {
    font: 600 18px Nunito, sans-Serif;
    overflow-x: hidden;
}